{% extends 'inflation/base.html' %} {% block scripts %}

<script>
  $(document).ready(function () {
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: [{% for year in year_list %} '{{year}}', {%endfor%}],
        datasets: [
          {
            label: "Change In Money Value",
            data: [{% for inflation in inflation_list%} '{{inflation}}', {% endfor %}],
            backgroundColor:[{% for color in color_list%} '{{color}}', {% endfor %}],
            borderColor:
            [{% for color in color_list%} '{{color}}', {% endfor %}],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
              },
            },
          ],
        },
      },
    });
  });
</script>

{% endblock scripts %} {% block content%}

<div class="row">
  <div class="col s12 l6">
    <div style="margin-right: 15px; padding-right: 15px;">
      <h3>Here are your details</h3>
      <table class="striped">
        <thead>
          <tr>
            <th>Start End</th>
            <th>End Date</th>
            <th>Initial Amount</th>
            <th>Final Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{start_date}}</td>
            <td>{{end_date}}</td>
            <td>₹{{amount}}</td>
            <td>₹{{final_amount|floatformat:2}}</td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
    <div style="margin-right: 15px; padding-right: 15px;">
      <h3>Year wise details</h3>
      <table class="striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Amount</th>
            <th>Inflation</th>
          </tr>
        </thead>
        <tbody>
          {% for i,j,k in zipped_data %}
          <tr>
            <td>{{i}}</td>
            <td>₹{{j|floatformat:2}}</td>
            <td>{{k}}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
    </div>
    <a href="/" class="waves-effect waves-light btn"
      ><i class="material-icons" style="vertical-align: top;"> arrow_back</i>
      <span>
        Edit Year or Amount
      </span>
    </a>
  </div>
  <div class="col s12 l6">
    <h3>A Graphical Representation</h3>
    <canvas
      id="myChart"
      width="200"
      height="200"
      style="padding: 30px; margin-bottom: 50px;"
    ></canvas>
  </div>
</div>

{% endblock %}
