{% extends 'inflation/base.html' %} {%block content%}

<div class="row">
  <form method="GET" action="{% url 'graph' %}">
    <div class="col s12 l4">
      <label>Start Date</label>
      <input
        id="start_date"
        type="number"
        name="start_date"
        min="1960"
        max="2018"
        step="1"
        placeholder="Enter a year between 1960 and 2018"
        required
      />
    </div>
    <div class="col s12 l4">
      <label>End Date</label>
      <input
        id="end_date"
        type="number"
        name="end_date"
        min="1960"
        max="2018"
        step="1"
        placeholder="Enter a year between 1960 and 2018"
        required
      />
    </div>
    <div class="col s12 l4">
      <label>Amount</label>
      <input
        id="amount"
        type="number"
        name="amount"
        min="0"
        step="100"
        placeholder="Enter an amount whose changed value you want to see "
        required
      />
    </div>
    <button
      class="waves-effect waves-light btn z-depth-2"
      type="submit"
      style="margin: 10px;"
    >
      Find Value of Your Money
    </button>
  </form>
</div>

{% endblock %}
