<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- {% comment %} {{df | safe}}
    <hr>
    {{head | safe}} {% endcomment %} -->

    <form method="POST" action="{% url 'graph' %}">
      {% csrf_token %}
      <label>Start Date</label>
      <input id="start_date" type="text" name="start_date" />
      <label>End Date</label>
      <input id="end_date" type="text" name="end_date" />
      <label>Amount</label>
      <input id="amount" type="number" name="amount" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
